<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <% if with_localhost %>
    <base href="http://localhost:3000/">
    <% else %>
    <base href="https://ayasuda.github.io/">
    <% end %>
    <title>ayasuda.github.io</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <nav>
    </nav>
    <header>
      <h1><a href="/">ayasuda.github.io</a></h1>
    </header>
    <article>
      <ul>
        <% pages.each do |page| %>
          <li>
            <%= page.to_date %>
            <a href="<%= page.path %>"><%= page.title %></a>
            <p><%= page.description %></p>
          </li>
        <% end %>
      </ul>
    </article>
  </body>
</html>
